# dependencies
node_modules/

# Next.js
.next/
out/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
*.pyo
backend/venv/
backend/runs/
backend/*.pt
backend/datasets/food_data/train/images/*
backend/datasets/food_data/train/labels/*
backend/datasets/food_data/val/images/*
backend/datasets/food_data/val/labels/*
!backend/datasets/food_data/data.yaml
